body {
    font-family: "Roboto Slab", serif;
    background-color: rgb(215, 115, 28);
  
  }
  
  header {
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdb2ee;
  }
  
  
  .chat-container {
    width: 600px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #030009;
    border-radius: 40px;
  
  }
  
  .message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .user-message {
    color: white;
  }
  
  .other-message {
    color: black;
  }
  
  .message input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .message input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .user-details {
    margin-bottom: 10px;
  }
  
  .user-details input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .started {
    color: white;
    font-weight: bold;
    background: green;
    padding: 5px;
    border-radius: 5px;
  }
  
  .container-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    margin-top: 150px;
    margin-bottom: 20px;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .container img {
    max-width: 100%;
    max-height: 800%;
    object-fit: contain;
  }
  
  .completed {
    color: white;
    font-weight: bold;
    background: greenyellow;
    padding: 5px;
    border-radius: 5px;
  }
  
  h4 {
    color: black;
    text-shadow: 2px 2px 4px rgb(232, 232, 241);
  }
  
  .card {
    flex: 1;
    border: 1px solid black;
    background-image: url("https://st4.depositphotos.com/8047664/30656/i/450/depositphotos_306565578-stock-photo-abstract-light-background-colored-bubbles.jpg");
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    border-radius: 12px;
    padding: 50px;
    margin-top: 40px;
    margin-right: 20px;
    max-width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn-primary {
    background-color: #00ff2a;
    border-color: #00ff2a;
  }
  
  .btn-primary:hover {
    background-color: #00ff2a;
    border-color: #00ff2a;
  }
  
  .btn-danger {
    background-color: #dc35c9f1;
    border-color: #dc35c9f1;
  }
  
  .btn-danger:hover {
    background-color: #dc35c9f1;
    border-color: #dc35c9f1;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
    font-style: bold;
  }
  
  .table th {
    background-color: #ffffff;
  }
  
  .modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: #f7f7f7;
    border-radius: 10px 10px 0 0;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  h1 {
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
  }